.btn3{
    border-radius: 28px;
    font-family: $default-fonts;
    font-weight: 700;
	color:$title-color;
	font-size: 15px;
	background:$footer-title-color;
	padding: 10px 30px 10px 30px;
	text-decoration: none;
	margin-left: 20px;
}