.clients{
    background-color: $block-color;
    padding-top: 50px;
}

.clients__title{
    padding-bottom: 105px;
}

.clients__logo{
    text-align: center;
    margin-top: -60px;
    padding-bottom: 75px;
}
