//Polygraphy

$default-fonts-name:"Lato";
$follbak: Arial, Helvetica, sans-serif;
$default-fonts: $default-fonts-name, $follbak ;
$default-font-size: 16px;
$default-line-height: 2.1875;

$secondary-fonts-name: "montserrat";
$secondary-fonts: $secondary-fonts-name, $follbak;
//Color

$red:#d62c40;
$grey: #b9bcd1;
$lightRed: #eb304d;
$white: #ffffff;


$popupTittleRed: $red;
$popupDownloadTextColor: $grey;
$popupDownloadButtonColor: $lightRed;
$buttonTextColor: $white;
$popupDownloadBgColor: $white;
